.navbar-container {
    border: 1px solid #d3d3d3;
}
.navbar {
    list-style: none;
    padding: 0;
    padding-left: 10px;
}
.navbar-item {
    display: inline-block;
    margin-right: 10px;
    background-color: antiquewhite;
    padding: 8px;
    border-radius: 3px;
}
.navbar-item a {
    text-decoration: none;
}
.navbar-item--selected {
    background-color: blueviolet;
}

#home {
    background-color: red;
}